/node_modules
/storage/*.key
/.idea/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/audio/feedback/*
/public/images/artists/*
!/public/images/artists/default.png
/public/images/releases/*
!/public/images/releases/default.png
/public/images/feedback/*
!/public/images/feedback/default.png
/public/images/users/*
!/public/images/users/default.png
/public/images/studio/services/*
!/public/images/studio/services/default.png
/public/images/school/courses/*
!/public/images/school/courses/default.png
/public/images/school/teachers/*
!/public/images/school/teachers/default.png
