/node_modules
/storage/*.key
/.idea/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/images/artists/*
!/public/images/artists/default.png
/public/images/releases/*
!/public/images/releases/default.png
/public/images/studio/services/*
!/public/images/studio/services/default.png
/public/images/school/services/*
!/public/images/school/services/default.png
/public/images/school/teachers/*
!/public/images/school/teachers/default.png
