// Accordion
.accordion{
    --bs-accordion-border-radius: 0;
    --bs-accordion-active-bg: #333;
    --bs-accordion-bg: #333;
    --bs-accordion-color: #eee;
    --bs-accordion-border-color: #555;
    --bs-accordion-btn-color: #bfbebe;
    --bs-accordion-btn-focus-box-shadow: none;
    .accordion-button:not(.collapsed){
        box-shadow: none;
    }
}
