@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_Condensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans/OpenSans_SemiCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-stretch: semi-condensed;
}
