// Forms
.form-control, .form-select{
    border-radius: 0;
    border: 1px solid transparent;
    &:focus{
        border: 1px solid $primary;
        box-shadow: none;
    }
    &.form-dark{
        background-color: $background-lighten-1;
        color: $primary-text-darker;
    }
}
.form-check-input{
    &[type=checkbox]{
        border-radius: 0;
    }
    background-color: transparent;
    border: 1px solid $border-color;
    &:focus{
        box-shadow: none;
    }
    &:checked{
        background-color: $primary;
        color: $text-on-primary;
    }
}
