body, .modal-body, .table-responsive, select, .sidebar, .fl-scrolls{
    &::-webkit-scrollbar{
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-track{
        background: $background-lighten-2;
        border-radius: 0;
    }
    &::-webkit-scrollbar-thumb{
        cursor: pointer;
        border-radius: 0;
        background: $border-color;
        -webkit-transition: color 0.2s ease;
        transition: color 0.2s ease;
        &:window-inactive {
            background: $background-lighten-2;
        }
        &:hover {
            background: $border-color;
        }
    }
}
