// Bg colors
$background: #1c1c1c;
$background-lighten-1: #252525;
$background-lighten-2: #2a2a2a;
$background-lighten-3: #333;

// Accent
$primary: #eab120;
$primary-lighten: #eaca7b;
$primary-darker: #967215;

// Text
$primary-text: #eee;
$primary-text-darker: #bfbebe;
$primary-text-on-light: #222;
$text-on-primary: #000;

// Params
$sidebar-width-lg: 280px;
$sidebar-width-xs: 230px;
