// Bg colors
$background: #111;
$background-lighten-1: #333;
$background-lighten-2: #424242;
$background-lighten-3: #515151;

// Accent
$primary: #eab120;
$primary-lighten: #eaca7b;
$primary-darker: #967215;

// Text
$primary-text: #eee;
$primary-text-darker: #bfbebe;
$primary-text-on-light: #222;
$text-on-primary: #000;

// Params
$sidebar-width-lg: 280px;
$sidebar-width-xs: 230px;
