// Bg colors
$background: #1c1c1c;
$background-lighten-1: #252525;
$background-lighten-2: #2a2a2a;
$background-lighten-3: #333;

// Accent
$primary: #e9a222;
$primary-lighten: #eaca7b;
$primary-darker: #967215;
$secondary: #2abea8;
$secondary-with-alpha: rgba(42, 190, 168, 0.8);
$secondary-lighten: #56f1da;
$secondary-darker: #106e60;

// Text
$primary-text: #eee;
$primary-text-darker: #89898b;
$primary-text-on-light: #222;
$text-on-primary: #000;

// Border
$border-color: #555;

// Params
$sidebar-width-lg: 280px;
$sidebar-width-xs: 230px;

$modal-fade-transform: scale(.8);
$border-radius: 0;
