@import "variables";

// Reset
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Open Sans', 'Arial', 'sans-serif';
}

// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Fonts
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Plugins
@import "~floating-scroll/dist/jquery.floatingscroll.css";
@import "admin/ckeditor";

// Common
@import "aliases";
@import "scrollbar";
@import "buttons";
@import "nav";
@import "cards";
@import "forms";
@import "toasts";

@import "admin/helpers";
@import "admin/common";
@import "admin/pagination";
@import "admin/sidebar";

// Pages
@import "admin/releases";
