// Artists
.artists{
    .artist-brief{
        position: relative;
        overflow: hidden;
        font-size: 14px;
        img{
            width: 100%;
        }
        a{
            display: block;
        }
        .artist-overlay{
            position: absolute;
            bottom: -30px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            color: $primary-text;
            padding: 10px;
            transition: .3s ease padding-bottom;
        }
        &:hover .artist-overlay{
            color: $primary;
            padding-bottom: 40px;
        }
        .artist-title{
            min-height: 50px;
        }
    }
}
