// Event
.event{
    h1, h2{
        font-size: 27px;
        color: $primary;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
    .bg-img{
        @media (min-width: $md) {
            height: 25vw;
            max-height: 280px;
        }
        max-height: 400px;
        background: center center;
        background-size: cover;
    }
}
