// Feedback
.feedback{
    ul{
        list-style: none;
        padding-left: 0;
        a{
            color: $primary-text-darker;
            text-decoration: none;
            &:hover{
                color: $primary;
            }
        }
    }
    .cover img{
        width: 350px;
    }
    hr{
        border-color: $primary-text-darker;
    }
    .header_text{
        color: $primary-text;
        text-align: justify;
        p{
            margin-bottom: 0;
        }
    }
    .also_available{
        color: $primary-text;
    }
    .user-info{
        width: 250px;
    }
    .track{
        color: $primary-text-darker;
        .info{
            .time{
                width: 100px;
            }
            .mute{
                background-color: transparent;
                color: $primary-text-darker;
                width: 25px;
            }
            .volume-bar{
                position: relative;
                overflow: hidden;
                border: 1px solid $primary;
                width: 150px;
                height: 10px;
                cursor: pointer;
                .volume-bar-value{
                    background-color: $primary;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .bar{
            background: url(../../img/loading.gif) no-repeat center center;
            background-size: contain;
            .play-pause{
                background-color: transparent;
                font-size: 25px;
                color: $primary-text;
                width: 70px;
                height: 70px;
                border: 1px solid;
                border-radius: 50%;
                line-height: 70px;
                i.fa-play{
                    margin-left: 5px;
                }
                i.fa-pause{
                    margin-left: 1px;
                }
            }
        }
    }
}
