// Footer
footer{
    background-color: #000;
    p{
        color: $primary-text;
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p.copyright{
        font-size: 15px;
    }
    a{
        display: inline-block;
    }
    img{
        height: 40px;
        opacity: .7;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
    .socials{
        font-size: 18px;
        border: 2px solid $primary-text;
        color: $primary-text;
        width: 33px;
        height: 33px;
        line-height: 29px;
        text-align: center;
        margin-left: 5px;
        background-color: transparent;
        &.socials-ra{
            line-height: 24px;
        }
        &:hover{
            border-color: $primary;
            background-color: $primary;
            color: #000;
        }
    }
}
