// Releases
.release-brief{
    position: relative;
    transition: .5s ease transform;
    height: 100%;
    .item-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        background-color: $secondary-with-alpha;
        color: $primary-text;
        opacity: 0;
        transition: .5s ease opacity;
    }
    &:hover{
        transform: scale(1.06);
        .item-overlay{
            opacity: 1;
        }
    }
}

.release{
    .release-title{
        color: $primary-text-darker;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 13px;
    }
    .release-date, .release-number, .release-tracklist h2, .release-related h2{
        color: $primary-text-darker;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .search-btns{
        outline: none;
        display: inline-block;
        text-decoration: none;
        background: url(../../img/prev-next-search.png) top left no-repeat;
        width: 20px;
        height: 47px;
        line-height: 53px;
        margin: 0 7px;
        &.prev-btn {
            background-position: -3px;
            &:not(.btn-disabled):hover{
                background-position: -43px;
            }
        }
        &.next-btn {
            background-position: -63px;
            &:not(.btn-disabled):hover{
                background-position: -23px;
            }
        }
        &.btn-disabled {
            opacity: 0.5;
        }
    }
    .release-search {
        color: $primary-text-darker;
        padding: 0 20px;
        font-size: 14px;
        font-style: italic;
    }
    .lang-switch{
        height: 75px;
    }
    .share{
        width: 55px;
        height: 49px;
        background-color: #000;
        font-size: 30px;
        color: $primary-text-darker;
        text-align: center;
        line-height: 49px;
        &:not(.btn-disabled):hover{
            background-color: $primary;
            color: $primary-text;
        }
        &.btn-disabled{
            opacity: .5;
            cursor: not-allowed;
            color: $primary-text-darker;
        }
    }
    .release-buttons{
        @media (max-width: 1000px){
            max-width: 335px;
            margin: auto;
            .share{
                width: 38px;
                height: 33px;
                font-size: 20px;
                line-height: 33px;
            }
        }
    }
    .release-tracklist{
        color: $primary-text-darker;
        min-height: 378px;
        @media (max-width: $md) {
            min-height: auto;
        }
    }
    .release-content{
        color: $primary-text-darker;
        font-size: 16px;
        text-align: justify;
        .release-content-wrapper{
            overflow: hidden;
        }
    }
    .release-related{
        color: $primary-text-darker;
    }

}

// Release Player
.preview-player{
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: black;
    //box-shadow: inset 0 0 0 1px $secondary;
    @media (max-width: $md) {
        flex-wrap: wrap;
        height: 140px;
    }
    button{
        background-color: transparent;
    }
    .track-info{
        width: calc(20%);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: hidden;
        align-content: flex-start;
        white-space: nowrap;
        @media (max-width: $md) {
            height: 60px;
            width: auto;
        }
        img{
            height: 80px;
            width: 80px;
            margin-left: 1px;
            @media (max-width: $md) {
                height: 60px;
                width: 60px;
                //margin-top: 1px;
            }
        }
        .track-title{
            @media (max-width: $md) {
                font-size: 14px;
            }
        }
    }
    .track-artists, .track-mix, .track-metadata{
        font-size: 13px;
        @media (max-width: $md) {
            font-size: 12px;
        }
    }
    .player-main-area{
        //box-shadow: inset 0 0 0 1px $secondary;
        width: 60%;
        @media (max-width: $md) {
            width: 100%;
        }
    }
    .track-controls{
        .play-pause{
            text-align: center;
            width: 80px;
            height: 80px;
            color: $primary-text;
            //color: $secondary;
            //border: 1px solid $secondary;
            border: 1px solid $primary-text;
            border-radius: 50%;
            i{
                font-size: 30px;
                vertical-align: middle;
                &.fa-play{
                    margin-left: 6px;
                    @media (max-width: $md) {
                        margin-left: 4px;
                    }
                }
            }
        }
    }
    .bar{
        position: relative;
        height: 80px;
        flex: 1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 44px;
        @media (max-width: $md) {
            margin: 0 1px 0 3px;
        }
        .bar-before, .bar-after, img.wave, .player-progress{
            position: absolute;
            top: 0;
            bottom: 0;
        }
        .bar-before{
            left: 0;
            background-color: black;
            opacity: .8;
        }
        .bar-after{
            right: 0;
            background-color: black;
            opacity: .8;
        }
        .player-progress{
            background-color: black;
            opacity: .5;
        }
        img.wave{
            filter: sepia(1) hue-rotate(315deg) saturate(15);
            width: 100%;
            height: 80%;
            left: 0;
            top: 9px;
        }
        #waveform{
            margin-top: 6px;
        }
    }
    .track-metadata{
        width: 80px;
    }
    .track-extra{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $md) {
            width: auto;
        }
        .close i, .mute i{
            color: $primary-text;
            width: 46px;
            vertical-align: middle;
        }
        .close i{
            font-size: 30px;
        }
        .buy{
            color: $primary-text;
        }
        .volume{
            max-width: 100%;
            width: 150px;
            @media (max-width: $md) {
                width: auto;
            }
            i{
                font-size: 20px;
            }
            .volume-bar{
                cursor: pointer;
                border: 1px solid $primary;
                width: 100%;
                height: 10px;
                position: relative;
                .volume-bar-value{
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    background-color: $primary;
                }
            }
        }
    }
}
