// Releases
.release-brief{
    margin-right: 10px;
    position: relative;
    width: 32%;
    transition: .5s ease transform;
    .item-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-shadow: 0 0 4px rgba(0, 0, 0, 1);
        background-color: $secondary-with-alpha;
        color: $primary-text;
        opacity: 0;
        transition: .5s ease opacity;
    }
    &:hover{
        transform: scale(1.06);
        .item-overlay{
            opacity: 1;
        }
    }
}
.release{

    .release-title{
        color: $primary-text-darker;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 13px;
    }
    .release-date, .release-number{
        color: $primary-text-darker;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .search-btns{
        outline: none;
        display: inline-block;
        text-decoration: none;
        background: url(../../img/prev-next-search.png) top left no-repeat;
        width: 20px;
        height: 47px;
        line-height: 53px;
        margin: 0 7px;
        &.prev-btn {
            background-position: -3px;
            &:not(.btn-disabled):hover{
                background-position: -43px;
            }
        }
        &.next-btn {
            background-position: -63px;
            &:not(.btn-disabled):hover{
                background-position: -23px;
            }
        }
        &.btn-disabled {
            opacity: 0.5;
        }
    }
    .release-search {
        color: $primary-text-darker;
        padding: 0 20px;
        font-size: 14px;
        font-style: italic;
    }
    .lang-switch{
        height: 75px;
    }
    .share{
        width: 55px;
        height: 49px;
        background-color: #000;
        font-size: 30px;
        color: $primary-text-darker;
        text-align: center;
        line-height: 49px;
        &:not(.btn-disabled):hover{
            background-color: $primary;
            color: $primary-text;
        }
        &.btn-disabled{
            opacity: .5;
            cursor: not-allowed;
            color: $primary-text-darker;
        }
    }
    .release-tracklist{
        color: $primary-text-darker;
        min-height: 300px;
    }
    .release-content{
        color: $primary-text-darker;
        font-size: 16px;
        text-align: justify;
    }
    .release-related{
        color: $primary-text-darker;
    }
}
