@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800&subset=latin,cyrillic-ext);
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #080808;
    color: #9d9d9d;
}
textarea{
    resize: vertical;
}

/* Helpers */
.inline{
    display: inline-block;
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.is-sticky button{
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.6);
}

/* Shared styles */
.btn{
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-default.btn-default__dark, .form-control.form-control__dark, .input-group-addon{
    color: #ccc;
    background-color: #444;
    border-color: #505050;
}
.btn-default.btn-default__dark:hover{
    background-color: #3c3b3b;
    border-color: #464646;
}
.btn-default.btn-default__dark:active:hover{
    color: #ccc;
}
.top-container{
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
@media (max-width: 991px){
    .top-container{
        flex-direction: column;
    }
    .top-container .pagination{
        margin: 10px 0;
    }
}

/* Admin Pagination */
.pagination{
    margin: 0;
}
.pagination__dark .pagination>li>a,
.pagination__dark .pagination>li>span,
.pagination__dark .pagination>.disabled>a,
.pagination__dark .pagination>.disabled>a:focus,
.pagination__dark .pagination>.disabled>a:hover,
.pagination__dark .pagination>.disabled>span,
.pagination__dark .pagination>.disabled>span:focus,
.pagination__dark .pagination>.disabled>span:hover{
    background-color: #444;
    border: 1px solid #505050;
}
.pagination__dark .pagination>li>a,
.pagination__dark .pagination>li>span{
    color: #ccc;
}
.pagination__dark .pagination>li:hover>a,
.pagination__dark .pagination>li:hover>span,
.pagination__dark .pagination>.active>a,
.pagination__dark .pagination>.active>a:focus,
.pagination__dark .pagination>.active>a:hover,
.pagination__dark .pagination>.active>span,
.pagination__dark .pagination>.active>span:focus,
.pagination__dark .pagination>.active>span:hover{
    color: #ccc;
    background-color: #343434;
    border-color: #414141;
}

/* Items styles */
.item{
    height: 150px;
    margin: 15px;
    background: #222;
    border-radius: 4px;
    border: 1px solid #505050;
    overflow: hidden;
}
.item:not(.item__review) div{
    height: 100%;
}
.item-cover{
    padding: 0;
}
.item-cover a{
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.item-info{
    justify-content: center;
}
.item-info h5{
    height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item-action, .item-sort{
    justify-content: space-around;
}
.item-action{
    padding: 10px 0;
}
.item-sort, .item__review .item-action{
    padding: 10px 15px;
}
.item-sort .form-control{
    padding: 6px 6px;
}

.items-container{
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
}
.item-horizontal-list{
    margin: 5px;
}
.item-horizontal-list:hover a{
    box-shadow: 0 0 4px 3px #444;
}
.item-horizontal-list a{
    display: block;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

/* Release */
.release-image{
    margin: 15px 0;
}
#preview{
    max-width: 100%;
}
.translate_description{
    cursor: pointer;
}
.related{
    display: block;
    white-space: nowrap;
}
.related label{
    margin-left: 15px;;
}
.related input{
    margin: 5px;
}
.page-link,
.page-link:hover,
.page-link:focus,
.translate_description,
.translate_description:hover,
.translate_description:focus{
    color: #efb11a;
}

/* Reviews */
.item__review{
    flex-wrap: wrap;
}
.item.item__review h4{
    width: 100%;
    text-align: center;
}
.item__review .item-sort{
    align-items: center;
}
.item__review .item-sort .arrows{
    justify-content: space-around;
    align-self: stretch;
    margin-right: 15px;
}

.review{
    position: relative;
    border: 1px solid #444;
    border-radius: 4px;
    margin: 15px 0;
    padding: 10px;
    background-color: #2a2a2a;
}
.delete-review-btn, .delete-review-btn:focus{
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 8px;
    color: #d80000;
}
.delete-review-btn:hover{
    background-color: #d80000;
    color: #fff;
}
.scores{
    display: flex;
}
.scores label{
    display: flex;
    margin: 0 5px;
}
.scores label span{
    margin-left: 2px;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    background-color: #3a3a3a;
}
*::-webkit-scrollbar-thumb {
    background-color: #7b7b7b;
}
