// Releases page
.admin-releases{
    .card{
        .card-img{
            width: 150px;
        }
        .card-sort{
            display: flex;
            align-items: center;
            width: 50px;
            align-self: center;
            input{
                max-width: 100%;
                text-align: center;
                /* Chrome, Safari, Edge, Opera */
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                &{
                    -moz-appearance: textfield;
                }
            }
            a{
                color: $primary-text-darker;
                &:hover{
                    color: $primary;
                }
            }
        }
    }
}

.related{
    a{
        color: $primary-text-darker;
        text-decoration: none;
        &:hover{
            color: $primary;
        }
    }
    .form-check-input:checked + label{
        color: $primary;
    }
}
