// Releases page
.admin-releases{
    .card{
        .card-img{
            width: 150px;
            @media (max-width: $md) {
                width: 125px;
            }
        }
    }
}

.tracks{
    table{
        counter-reset: row;
        tbody{
            tr > td:first-child:before{
                counter-increment: row;
                content: counter(row);
            }
        }
    }
}
.related{
    a{
        color: $primary-text-darker;
        text-decoration: none;
        &:hover{
            color: $primary;
        }
    }
    .form-check-input:checked + label{
        color: $primary;
    }
}
.release-cover{
    max-width: 500px;
    @media (max-width: 800px) {
        max-width: 100%;
    }
}
